/* .main-container {
    
    max-width: 500px;
    margin: 0 auto;
}



ul {
    list-style-type: none;
    font-size: 35px;
   
    margin-top: 20px
    
    
}

li {
    border: 1px solid grey;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  

}




input {
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;

}

button {
    margin-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border: 1px solid black;

}

.done {
    background-color: red;
}

h1 {
    margin-bottom: 20px;
} */